.footer {
  padding-top: 80px;
  background: $color-blue;
  color: #ffffff;
  height: 530px;

  @include tablet {
    height: auto;
    padding-bottom: 80px;
    padding-top: 60px;
  }
}

.footer__title {
  font-family: $font2;
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  padding-left: 60px;
  margin-bottom: 40px;

  @include mobile {
    font-size: 10px;
    line-height: 20px;
    padding-left: 15px;
    margin-bottom: 20px;
  }

  &::before {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 10px;
    height: 10px;
    background: $color-red;
    border-radius: 50%;

    @include mobile {
      left: 0;
    }
  }
}

.footer__slider-wrapper {
  display: flex;
  height: 385px;
  padding-left: 30px;

  @include tablet {
    height: auto;
    flex-direction: column;
  }

  @include mobile {
    padding-left: 0;
  }
}

.footer__slider-left {
  width: 30%;

  @include tablet {
    width: 100%;
    margin-bottom: 40px;
  }

  @include mobile {
    margin-bottom: 20px;
  }

  .swiper-container {
    height: 100%;
  }

  li {
    font-family: $font1;
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 65px;
    letter-spacing: -0.01em;
    color: $color-light-blue;
    cursor: pointer;

    &.active {
      color: #ffffff;
    }

    @include mobile {
      font-size: 30px;
      line-height: 35px;
    }
  }
}

.footer__slider-right {
  width: 70%;
  height: 365px;
  overflow: hidden;
  overflow-y: auto;

  @include tablet {
    width: 100%;
    height: auto;
    overflow: auto;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: #4c8ef7;
    border: 4px none #ffffff;
    border-radius: 18px;
  }

  &::-webkit-scrollbar-thumb {
    background: #8dca78;
    border: 4px none #ffffff;
    border-radius: 50px;
  }

  p {
    font-family: $font2;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #ffffff;
    margin-bottom: 40px;

    @include tablet {
      margin-bottom: 35px;
    }

    @include mobile {
      font-size: 14px;
      line-height: 24px;
    }
  }

  a {
    display: inline-block;
    background: #b19b69;
    background: linear-gradient(180deg, #e3d1a0 0.52%, #a79156 100%);
    box-shadow: 0px 15px 25px rgba(177, 155, 105, 0.4);
    border-radius: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    padding: 32px 80px;

    @include mobile {
      font-size: 14px;
      line-height: 20px;
      padding: 20px 0px;
      width: 100%;
      max-width: 270px;
      display: block;
    }

    &:hover,
    &:focus {
      background: #b19b69;
      box-shadow: 0px 15px 25px rgba(177, 155, 105, 0.4);
    }

    &:active {
      background: #b19b69;
      box-shadow: none;
    }
  }
}
