.main {
  padding-bottom: 100px;

  @include mobile {
    padding-bottom: 80px;
  }
}

.main__title {
  font-family: $font2;
  font-weight: bold;
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: $color-black;
  position: relative;
  padding-left: 60px;
  margin-bottom: 40px;

  @include mobile {
    font-size: 10px;
    line-height: 20px;
    padding-left: 15px;
    margin-bottom: 15px;
  }

  &::before {
    position: absolute;
    left: 30px;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 10px;
    height: 10px;
    background: $color-red;
    border-radius: 50%;

    @include mobile {
      left: 0;
    }
  }
}

.main__project-list {
  margin-bottom: 50px;
  max-width: 1140px;


  @include tablet {
    max-width: 690px;
    margin-bottom: 0;
  }

  @include mobile {
    max-width: 320px;
    margin-bottom: 15px;
  }
}

.main__project-item {
  max-width: 360px;
  border-radius: 10px;
  padding: 0 20px;
  position: relative;
  z-index: 25;
  padding-bottom: 45px;
  margin-bottom: 75px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  @include tablet {
    max-width: 325px !important;
  }

  @include mobile {
    max-width: 320px !important;
    margin-bottom: 85px;
  }

  &:hover {
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-invisible-grey;
      z-index: -1;
      border-radius: 10px;
    }

    a {
      display: block;
    }
  }

  @include tablet {
    &::before {
      content: '';
      position: absolute;
      top: 20px;
      bottom: 0;
      left: 0;
      right: 0;
      background: $color-invisible-grey;
      z-index: -1;
      border-radius: 10px;
    }
  }
}

.project__img-wrapper {
  position: relative;
  margin-bottom: 20px;
  z-index: 5;
  order: 0;

  @include tablet {
    margin-bottom: 20px;
  }

  @include mobile {
    margin-bottom: 25px;
  }

  &:before {
    position: absolute;
    content: '';
    left: 0;
    border-radius: 10px;
    border-top-left-radius: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 50;
    background: linear-gradient(107.66deg, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0) 100.62%);
  }

  &:after {
    position: absolute;
    content: '';
    z-index: 1;
    left: 20px;
    top: 20px;
    width: 100%;
    height: 100%;
    background: $color-invisible-grey;
    border-radius: 10px;
    border-top-left-radius: 0;
  }
}

.project__img {
  position: relative;
  z-index: 5;
  border-radius: 10px;
  border-top-left-radius: 0;
}

.project__city {
  font-family: $font2;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  position: absolute;
  bottom: 8px;
  left: 10px;
  padding-left: 15px;
  z-index: 20;

  &:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 6px;
    height: 9px;
    background: url(../img/icon__map.png) no-repeat center;
  }
}

.project__logo {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 50;
}

.project__title {
  font-family: $font2;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: $color-black;
  margin-bottom: 20px;
  order: 2;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.project__info {
  font-family: $font2;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  color: $color-black;
  margin-bottom: 19px;
  order: 3;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

  @include tablet {
    margin-bottom: 10px;
  }
}

.project__summary {
  display: flex;
  margin-bottom: 18px;
  order: 4;
}

.project__proportion {
  width: 43px;
  height: 43px;
  border-radius: 50%;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #8dca78;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  border: 3px solid #e0e0e0;
  margin-right: 5px;
}

.project__total {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
}

.project__total-info {
  font-family: $font2;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 20px;
  color: $color-dark-grey;

  & + .project__total-info {
    width: 75px;

    @include tablet {
      width: 80px;
    }
  }

  span {
    color: #8dca78;
  }

}

.project__info-title {
  font-family: $font2;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.project__link {
  content: '';
  width: 60px;
  height: 60px;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 50%);
  background: url('../img/project__hand.svg') no-repeat center,
    linear-gradient(360deg, #005ef3 0%, #689ef4 100%);
  box-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);
  border-radius: 50%;
  display: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background: url('../img/project__hand.svg') no-repeat center, #005ef3;
    box-shadow: 0px 15px 25px rgba(0, 94, 243, 0.4);
  }

  &:active {
    background: url('../img/project__hand.svg') no-repeat center, #005ef3;
    box-shadow: none;
  }

  @include tablet {
    display: block;
  }
}

.project__tag-list {
  display: flex;
  flex-wrap: wrap;
  order: 5;

  @include tablet {
    order: 1;
    margin-bottom: 15px;
  }

  @include mobile {
    order: 5;
  }
}

.project__tag-item {
  margin-bottom: 5px;

  &:last-child {
    margin-right: 0;
  }

  a {
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: $color-dark-grey;
    background: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 1px 13px;
    margin-right: 10px;
    display: flex;

    &:hover {
      background: $color-invisible-grey;
      color: $color-dark-grey;
    }
  }
}

.main__all-project-link {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: -100px;
  z-index: 5;

  @include tablet {
    margin-top: 0;
  }

  a {
    display: block;
    z-index: 5;
    background: #ffffff;
    box-shadow: 0px 10px 25px rgba(177, 155, 105, 0.3);
    border-radius: 40px;
    padding: 8px 17px;
    flex-shrink: 0;
    color: #b19b69;
    transition: all 0.1s;

    &:hover,
    &:focus {
      background: #f3f3f3;
    }

    &:active {
      box-shadow: none;
    }
  }
}

.main__bar {
  width: auto;
  flex-grow: 1;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    height: 1px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #e5decc;
  }

  &--left::before {
    left: 25px;
    right: 10px;

    @include mobile {
      left: 0;
    }
  }

  &--right::before {
    left: 10px;
    right: 25px;

    @include mobile {
      right: 0;
    }
  }
}


.swiper-pagination-bullet {
  background: #B19B69 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  background: #B19B69 !important;
}

.swiper-pagination {
  display: none;

  @include mobile {
    display: block;
  }
}