$mobile-width: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$desktop-full: 1600px;
$desktop-wide: 1920px;
$wrapper-width: 1200px;

$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Шрифты
$font1: "Roboto", sans-serif;
$font2: "Rubik", sans-serif;
// Цвета
$color-blue: #005ef3;
$color-light-blue: #4c8ef7;
$color-red: #f64d40;
$color-gold: #b19b69;
$color-light-gold: #e5decc;
$color-black: #000000;
$color-dark-grey: #7d7d7d;
$color-light-grey: #ededed;
$color-invisible-grey: #f3f3f3;
$color-grey: #c4c4c4;
$main-color: #34495e;
